<div class="m-3">
  <a class="btn btn-primary" href="#" role="button">Accueil</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <h5 class="card-header">Exercice 2</h5>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Username</th>
                <th scope="col">Adresse mail</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <app-tp2-row
                  id="1"
                  Username="f.duranletelier"
                  AdresseMail="f.duranletelier@ipilyon.net"
                ></app-tp2-row>
              </tr>
              <tr>
                <app-tp2-row
                  id="2"
                  Username="f.duranletelier"
                  AdresseMail="f.duranletelier@ipilyon.net"
                ></app-tp2-row>
              </tr>
              <tr>
                <app-tp2-row
                  id="3"
                  Username="f.duranletelier"
                  AdresseMail="f.duranletelier@ipilyon.net"
                ></app-tp2-row>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
